
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        tr:nth-of-type(even) {
            background-color: #ccc;
        }
    </style>
    @*<link rel="stylesheet" href="blueberry.css" />
    <style type="text/css">
        {
            margin: 0;
            border: 0;
            padding: 0;
        }

        body {
            background-image: url('../Slike/Doors.png');
            
            background-size: cover;
            font: 14px/20px Arial,San-Serif;
            color: #555;
            margin: 0;
        }

        h1 {
            text-align: center;
            font-size: 180%;
            line-height: 120%;
            padding: 5% 0;
        }

        h2 {
            text-decoration: underline;
            line-height: 280%;
            padding-left: 2%;
        }

        h3 {
            line-height: 110px;
            padding: 5% 0;
        }

        p {
            padding: 1%;
        }

        img {
            text-align: center;
            max-width: 100%;
            height: auto;
            width: auto;
        }

        a {
            color: #FFF;
            text-decoration: none;
            font-weight: bold;
        }

            a:hover {
                color: #FFF;
                text-decoration: underline;
            }

        ul {
            list-style: none;
        }

        header {
            background: #405580;
            width: 100%;
            height: 86px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            opacity: 0.90;
        }

       

        nav {
            float: right;
            padding: 35px 20px 20px 0px;
        }


        a:hover#menu-icon {
            border-radius: 4px 4px 0 0;
        }

        nav ul li {
            display: inline-block;
            float: left;
            padding: 10px;
        }
    </style>
    <script src="https://ajax.googleapi.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="jquery.blueberry.js"></script>

    <script>
        $(window).load(function(){
            $('.blueberry').blueberry();
        });
    </script>*@

</head>
@{string session = (string)Session["uloga"];

}

<body class="body-content">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hotel booking", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Sobe", "Index", "Sobe")</></li>
                        @if (Session["idkorisnik"] != null)
                        {
                    <li>@Html.ActionLink("Moje Rezervacije", "Index", "Rezervacije")</li>
                        }
                        @if (session == "admin")
                        {
                    <li>@Html.ActionLink("Korisnici", "Index", "Korisnici")</li>
                        }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel booking</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
