@model Hotel_mvc1.Models.Korisnik

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni?</h3>
<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.pamtiLozinku)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.pamtiLozinku)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.lozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na listu", "Index")
        </div>
    }
</div>
