@model IEnumerable<Hotel_mvc1.Models.Korisnik>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Korisnici";
}

@{string session = (string)Session["uloga"];
    string sessionIme = (string)Session["ime"];
}
<h2>Korisnici</h2>
@if (session == "admin")
{
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.pamtiLozinku)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.lozinka)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.pamtiLozinku)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.lozinka)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @*@if (sessionIme == item.ime)*@
           
                @Html.ActionLink("Uredi informacije", "Edit", new { id = item.idkorisnik }) 
            
            </td>
          <td>
            @Html.ActionLink("Detalji", "Details", new { id = item.idkorisnik }) 
              </td>
          
<td>

            @Html.ActionLink("Obriši korisnika iz baze", "Delete", new { id = item.idkorisnik })
</td>

        
    </tr>
}

</table>
}
