@model Hotel_mvc1.Models.Rezervacija



@{
    ViewBag.Title = "Create";
}
@*@{string session = (string)Session["id"];
   
   model.id_korisnik = int.Parse(session);
    @Html.EditorFor(model => model.id_korisnik )
}*@
@{   string rezOd = (string)Session["rezOd"];
    string rezDo = (string)Session["rezDo"];
    }
<h2>Nova rezervacija</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Rezervacija</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
         
        </div>
        <div class="form-group">
            
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.id_soba, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.id_soba, new { htmlAttributes = new { @class = "form-control", @min="1" } })
                    @Html.ValidationMessageFor(model => model.id_soba, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.cijena, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cijena, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cijena, "", new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.datumRezervacije, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.datumRezervacije, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.datumRezervacije, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.rezerviranoOd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rezerviranoOd,rezOd, new { htmlAttributes = new { @class = "form-control", Value = rezOd } })
                    @Html.ValidationMessageFor(model => model.rezerviranoOd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rezerviranoDo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rezerviranoDo,rezDo, new { htmlAttributes = new { @class = "form-control", Value = rezDo } })
                    @Html.ValidationMessageFor(model => model.rezerviranoDo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Napravi rezervaciju" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Natrag na listu", "Index")
</div>
