@model IEnumerable<Hotel_mvc1.Models.Soba>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{string session = (string)Session["uloga"];
    
}
@if (session == "admin")
{
    <p>
        @Html.ActionLink("Nova soba", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brojSobe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brojKreveta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brojSobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojKreveta)
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", "Sobe", new { id = item.idsoba },null)
            </td>
            <td>
                @*@{var prosljedeniID = item.idsoba;
                    TempData["prosjeđeniID"] = prosljedeniID;  }*@
                @Html.ActionLink("Rezerviraj", "Create", new { id = item.idsoba})
                
            </td>

            @*@if (session == "admin")
            {
                <td>
                    @Html.ActionLink(" Uredi", "Edit", new { id = item.idsoba })
                </td>
            }

            @if (session == "admin")
            {
                <td>
                    @Html.ActionLink(" Obrisi", "Delete", new { id = item.idsoba })

                </td>
            }*@

        </tr>
    }
</table>