@model Hotel_mvc1.Models.Soba

@{
    ViewBag.Title = "Delete";
}

<h2>Brisanje</h2>

<h3>Jeste li sigurni da želite obrisati ovu sobu?</h3>
<div>
    <h4>Soba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brojSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brojKreveta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojKreveta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cijenaSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijenaSobe)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na listu", "Index")
        </div>
    }
</div>
